@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-jetbrainsmono: "JetBrains Mono", monospace;
}

body {
  font-family: var(--font-jetbrainsmono);
  color: white;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .nav_label {
    @apply relative text-white/60 font-medium tracking-wide hover:text-white;
  }
  .nav_label::after {
    @apply block content-[''] bg-green-500 h-[3px] absolute w-[0%] scale-x-0 rounded-xl transition duration-300 origin-right;
  }
  .nav_label:hover::after {
    @apply w-full scale-x-100;
  }
}
